DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=5432

DEBUG=True  #False
SECRET_KEY=secret_key
ALLOWED_HOSTS=127.0.0.1

FILES_STORAGE=local #cloud

AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=key
AWS_STORAGE_BUCKET_NAME=bucket_name
AWS_S3_REGION_NAME=region_name